PORT=3000
NODE_ENV=development
MONGODB_URI=mongodb+srv://joao:Admin@greenncovery.5al9hqv.mongodb.net/greenncovery-db?retryWrites=true&w=majority&appName=GreennCovery
JWT_SECRET=greenncovery-super-secret-jwt-key-2024-production-ready-token-security
JWT_EXPIRES_IN=30d
LOG_LEVEL=info